html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

a {
  color: #576b95;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: default;
}

.body {
  flex: 1;
  background-color: #fff;
  overflow: auto;
}

.body .title {
  padding: 32px 0;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;

  font-size: 22px;
  font-weight: 700;
  line-height: 1.36;
}

.body .content {
  text-align: center;
}

.body .content .top-img {
  margin: auto;
}

.body .content .top-img .logo-img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.body .content .top-title {
  margin: 40px 0;

}

.body .content .top-title .top-title-main {
  font-weight: bold;
  color: black;
  font-size: 16px;
}

.body .content .top-title .top-title-sub {
  color: #a4a4a6;
  font-size: 13px;
  margin: 10px 0;
}

.confirm-btn-wrap {
  width: 100%;
}

.body .content .middle {
  text-align: center;
}


.footer {
  /*height: 30px;*/
  flex-shrink: 0;

  .weui-footer {
    color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
  }

  .weui-footer__text {
    padding: 0 16px;
    font-size: 12px;
  }
}

.weui-footer__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
  position: relative;
  font-size: 14px;
}

.wechat-footer .weui-form__extra-area {
  margin-top: 4px;
  margin-bottom: 4px;
}

.weui-btn_primary {
  background-color: #07c160;
  color: #fff;
  font-weight: bold;
}

.weui-btn + .weui-btn {
  margin-top: 16px;
}

.weui-btn_default {
  color: rgb(150, 150, 150);
  background-color: #f7f7f7;
}

.weui-btn {
  position: relative;
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 24px;
  box-sizing: border-box;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  /*color: #fff;*/
  line-height: 1.41176471;
  border-radius: 8px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid #e7e7e7;
}

.weui-cells__group_form label[for] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.weui-cells__group_form .weui-cell {
  padding: 16px 16px;
}

.weui-cell {
  padding: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.41176471;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.9);
}


.weui-cells_checkbox .weui-cell__hd {
  padding-right: 5px;
  font-size: 0;
}

.weui-check {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

input, textarea {
  caret-color: #07c160;
}


.weui-cells_checkbox .weui-check:checked + .weui-icon-checked, .weui-cells_checkbox .weui-check[aria-checked="true"] + .weui-icon-checked {
  color: #07c160;
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12%2022C6.477%2022%202%2017.523%202%2012S6.477%202%2012%202s10%204.477%2010%2010-4.477%2010-10%2010zm-1.177-7.86l-2.765-2.767L7%2012.431l3.119%203.121a1%201%200%20001.414%200l5.952-5.95-1.062-1.062-5.6%205.6z%22%2F%3E%3C%2Fsvg%3E);
  mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12%2022C6.477%2022%202%2017.523%202%2012S6.477%202%2012%202s10%204.477%2010%2010-4.477%2010-10%2010zm-1.177-7.86l-2.765-2.767L7%2012.431l3.119%203.121a1%201%200%20001.414%200l5.952-5.95-1.062-1.062-5.6%205.6z%22%2F%3E%3C%2Fsvg%3E);
}

.weui-cells_checkbox .weui-icon-checked {
  color: rgba(0, 0, 0, 0.3);
  mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%221000%22%20height%3D%221000%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M500%20916.667C269.881%20916.667%2083.333%20730.119%2083.333%20500%2083.333%20269.881%20269.881%2083.333%20500%2083.333c230.119%200%20416.667%20186.548%20416.667%20416.667%200%20230.119-186.548%20416.667-416.667%20416.667zm0-50c202.504%200%20366.667-164.163%20366.667-366.667%200-202.504-164.163-366.667-366.667-366.667-202.504%200-366.667%20164.163-366.667%20366.667%200%20202.504%20164.163%20366.667%20366.667%20366.667z%22%20fill-rule%3D%22evenodd%22%20fill-opacity%3D%22.9%22%2F%3E%3C%2Fsvg%3E);
}

[class^="weui-icon-"][class^="weui-icon-"], [class^="weui-icon-"][class*=" weui-icon-"], [class*=" weui-icon-"][class^="weui-icon-"], [class*=" weui-icon-"][class*=" weui-icon-"] {
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  width: 2.4em;
  height: 2.4em;
  -webkit-mask-position: 50% 50%;
  mask-position: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: currentColor;
}

.weui-cells_checkbox .weui-check:checked + .weui-icon-checked, .weui-cells_checkbox .weui-check[aria-checked="true"] + .weui-icon-checked {
  color: #07c160;
  mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12%2022C6.477%2022%202%2017.523%202%2012S6.477%202%2012%202s10%204.477%2010%2010-4.477%2010-10%2010zm-1.177-7.86l-2.765-2.767L7%2012.431l3.119%203.121a1%201%200%20001.414%200l5.952-5.95-1.062-1.062-5.6%205.6z%22%2F%3E%3C%2Fsvg%3E);
}


.weui-btn:active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.wechat-dialog-z-index {
  z-index: 1900;
}

.weui-mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}


@media screen and (min-width: 352px) {
  .weui-dialog {
    width: 320px;
    margin: 0 auto;
  }
}

.weui-dialog {
  position: fixed;
  z-index: 5000;
  top: 50%;
  left: 16px;
  right: 16px;
  transform: translate(0, -50%);
  background-color: #fff;
  text-align: center;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 90%;
  outline: 0;
}

.weui-dialog__bd:first-child {
  min-height: 40px;
  padding: 32px 24px 0;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.weui-dialog__bd {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 24px;
  margin-bottom: 32px;
  font-size: 17px;
  line-height: 1.4;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
  color: rgba(0, 0, 0, 0.55);
}

.weui-dialog__ft {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.weui-dialog__btn {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: block;
  line-height: 1.41176471;
  padding: 16px 0;
  font-size: 17px;
  color: #576b95;
  font-weight: 700;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
}

.weui-dialog__ft::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: default;
}
